.ui-snack-bar {
    display: flex;
    flex-flow: column;
}

.ui-snack-bar-content {
    display: flex;
    flex-flow: row;

    & .message {
        display: flex;
        flex-grow: 1;
        align-items: center;
        color: whitesmoke;
    }
}

.close {
    font-size: 1.4em;
    margin-right: 0;
    margin-left: 10px;
    color: #bdbdbd;

    svg {
        cursor: pointer;
    }
}

fa-icon {
    font-size: 2.5em;
    margin-right: 10px;

    &.ok {
        color: green;
    }

    &.info {
        color: royalblue;
    }

    &.warning {
        color: orange;
    }

    &.error {
        color: red;
    }

    &.question {
        color: turquoise;
    }
}
