<div class="ui-snack-bar">
	<div class="ui-snack-bar-content">
		<fa-icon [icon]="getIcon()" [ngClass]="getIconClass()"></fa-icon>
		<div class="message" [innerHTML]="data.message"></div>
		<fa-icon
			class="close"
			[icon]="faWindowClose"
			(click)="snackBarRef.dismiss()"
		></fa-icon>
	</div>
</div>
