@import 'app-colors';
@import 'app-media';

.ui-dialog-title {
	display: flex;
	justify-content: space-between;
	font-size: 1.65em !important;
	font-weight: 500;
	color: $_colorSecondaryText;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed $_colorInputText;
	font: unset;
}

.custom-content {
	max-height: calc(100vh - 220px) !important;
	display: unset !important;
	margin: unset !important;
	padding: unset !important;
}

.ui-dialog-content {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.ui-dialog-content-internal {
	display: flex;
	flex-flow: column;
	flex-grow: 2;

	// & ui-form-row {
	// 	&:not(:last-child) {
	// 		margin-bottom: 10px;
	// 	}
	// }
	& ui-card:only-child {
		margin-bottom: 10px;
	}
}

.action-container {
	display: flex;
	flex-flow: row;
	align-items: center;

	margin-left: 10px;
	& .ui-button {
		& .button-disabled {
			& .ui-button-text {
				color: $_colorTextWhite !important;
			}
			& fa-icon {
				&.ui-button-text {
					color: $_colorWarn !important;
				}
			}
		}
		&:not(:last-child) {
			margin-right: 5px;
		}
		&:first-child {
			margin-left: 0;
		}
	}
}

.title-container {
	display: flex;
	align-items: flex-end;
}

.sticky-header {
	margin: 0 0 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}

.sticky-content {
	margin: 0 !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	max-height: 78vh;
	overflow: auto;
}

.ui-dialog-content-scrollable {
	overflow-y: auto !important;
}

.sticky-content-no-maxvh {
	margin: 0 !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	overflow: auto;
}

.hidden-overflow {
	overflow: hidden !important;
}
