<div class="ui-dialog-title" [ngClass]="hasStickyHeader ? 'sticky-header' : ''">
	<div class="title-container">{{ title }}</div>

	<!-- Basic header buttons (save and close) -->
	<div class="action-container" *ngIf="showButtonsInHeader">
		<ng-content select="[buttons]"></ng-content>

		<ng-container *ngIf="showStandardButtons">
			<!-- SAVE -->
			<ui-button
				*ngIf="showSaveButton && saveButtonOrder === 0"
				[text]="saveButtonText"
				(onClick)="_onSaveClicked()"
				[faIcon]="saveButtonIcon"
				[isDisabled]="!myForm.valid"
				[buttonType]="saveButtonType"
				[buttonColor]="saveButtonColor"
				[matTooltip]="saveButtonTooltip"
				[id]="saveButtonId !== '' ? saveButtonId : ''"
			></ui-button>
			<!-- CLOSE -->
			<ui-button
				*ngIf="showCloseButton"
				[text]="closeButtonText"
				buttonColor="warn"
				(onClick)="_onCloseClicked()"
				[buttonType]="closeButtonType"
				[buttonColor]="closeButtonColor"
				[id]="closeButtonId !== '' ? closeButtonId : ''"
			></ui-button>
			<!-- SAVE -->
			<ui-button
				*ngIf="showSaveButton && saveButtonOrder !== 0"
				[text]="saveButtonText"
				(onClick)="_onSaveClicked()"
				[faIcon]="saveButtonIcon"
				[isDisabled]="!myForm.valid"
				[buttonType]="saveButtonType"
				[buttonColor]="saveButtonColor"
				[matTooltip]="saveButtonTooltip"
				[id]="saveButtonId !== '' ? saveButtonId : ''"
			></ui-button>
		</ng-container>
	</div>
</div>

<!-- (hasStickyHeader ? (unsetMaxVH ? 'sticky-content-no-maxvh' : 'sticky-content') : 'hidden-overflow') -->
<div class="ui-dialog-content-internal" [ngClass]="getDialogContentClasses()">
	<ng-content></ng-content>

	<div class="action-container" *ngIf="!showButtonsInHeader">
		<ng-content select="[buttons]"></ng-content>

		<ng-container *ngIf="showStandardButtons">
			<!-- SAVE -->
			<ui-button
				*ngIf="showSaveButton"
				[text]="textSvc.getText('save')"
				(onClick)="_onSaveClicked()"
				[faIcon]="iconService.getIconByKey('falSave')"
				[isDisabled]="!myForm.valid"
				[id]="saveButtonId !== '' ? saveButtonId : ''"
			></ui-button>
			<!-- CLOSE -->
			<ui-button
				*ngIf="showCloseButton"
				[text]="textSvc.getText('cancel')"
				buttonColor="warn"
				(onClick)="_onCloseClicked()"
				[id]="closeButtonId !== '' ? closeButtonId : ''"
			></ui-button>
		</ng-container>
	</div>
</div>
