@import 'variables';

#spinner {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: 50000;
	&.backdrop {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: $backdrop-background-color;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: none;
	}
}

::ng-deep .colored-parent,
::ng-deep .colored > div {
	background-color: $spinner-color;
}
