.icon-pair-container {
	color: white;
	// padding: 3.5px;
	margin-left: 10px;
	display: flex;
	flex-flow: row;
	align-items: center;
	& fa-icon {
		font-size: 1.35em;
		margin-right: 6px;
	}
}

.margin-left {
	margin-left: 10px;
}

.left-sided {
	font-weight: 600;
	font-size: 0.9em;

	& fa-icon {
		font-size: 1.8em;
	}
}
