<div *ngIf="textOnRightSide" class="icon-pair-container pointer" [matTooltip]="title" (click)="emitClick($event)">
	<fa-icon [icon]="icon"> </fa-icon>
	<!-- This still has room to be styled -->
	<div [ngClass]="textCssClass">{{ text }}</div>
</div>

<div
	*ngIf="!textOnRightSide"
	class="icon-pair-container pointer left-sided"
	[matTooltip]="this.title"
	(click)="emitClick($event)"
>
	<!-- This still has room to be styled -->
	<div [ngClass]="textCssClass">{{ text }}</div>

	<fa-icon [icon]="icon" class="margin-left"> </fa-icon>
</div>
