<!--  -->
<!-- <span #filterMenu="matMenuTrigger" [matMenuTriggerFor]="menu" id="filter-panel"> -->
<span #filterMenu="matMenuTrigger" [matMenuTriggerFor]="menu" id="filter-panel" [matMenuTriggerData]="data">
	<mat-menu #menu="matMenu" [overlapTrigger]="false">
		<div
			[formGroup]="myForm"
			class="filter-menu"
			(click)="$event.stopPropagation()"
			(keyup)="$event.stopPropagation()"
			(keydown)="$event.stopPropagation()"
		>
			<div class="filter-header">{{ filterHeader }}</div>
			<!-- TEXT -->
			<mat-form-field *ngIf="isFilterText" appearance="outline">
				<fa-icon [icon]="iconSvc.getIconByKey('falCase')" matSuffix></fa-icon>
				<input
					#filterTextInput
					matInput
					type="text"
					[placeholder]="textSvc.getText('has_value_filter')"
					formControlName="filter_text"
					id="filterText"
					(keyup)="onFilterChanged($event)"
				/>
			</mat-form-field>

			<div *ngIf="isFilterNumber">number</div>

			<!-- DROPDOWN -->
			<mat-form-field appearance="outline" *ngIf="isDropdown">
				<mat-select formControlName="filter_dropdown" (selectionChange)="onFilterDropdownChanged($event)">
					<mat-option *ngFor="let e of dropdownData" [value]="e">
						{{ e }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<!-- BOOLEAN -->
			<mat-radio-group
				*ngIf="isFilterBool"
				formControlName="filter_bool"
				(change)="onFilterBoolChanged($event)"
				class="filter-radio-group"
			>
				<mat-radio-button value="1">{{ textSvc.getText('yes') }}</mat-radio-button>
				<mat-radio-button value="0">{{ textSvc.getText('no') }}</mat-radio-button>
			</mat-radio-group>

			<!-- DATE -->
			<mat-form-field appearance="outline" *ngIf="isFilterDate">
				<mat-label>Od</mat-label>
				<input
					matInput
					[matDatepicker]="pickerFrom"
					(dateChange)="onFilterDateFromChanged($event)"
					formControlName="filter_dateFrom"
				/>
				<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
				<mat-datepicker #pickerFrom></mat-datepicker>
			</mat-form-field>
			<mat-form-field appearance="outline" *ngIf="isFilterDate">
				<mat-label>Do</mat-label>
				<input
					matInput
					[matDatepicker]="pickerTo"
					(dateChange)="onFilterDateToChanged($event)"
					formControlName="filter_dateTo"
				/>
				<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
				<mat-datepicker #pickerTo></mat-datepicker>
			</mat-form-field>

			<!-- CLEAR FILTER -->
			<ui-button
				[text]="textSvc.getText('clean_filter')"
				(onClick)="_onClearClick()"
				buttonType="stroked"
				[faIcon]=""
				[isDisabled]="!myForm.valid"
				class="clear-button"
			></ui-button>
		</div>
	</mat-menu>
</span>
