@import 'app-colors';

.filter-menu {
	display: flex;
	flex-flow: column;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	min-width: 250px;
}
.filter-header {
	font-weight: 600;
	font-size: 1.1em;
	color: $_colorSecondaryText;
	margin-bottom: 10px;
}

.filter-radio-group {
	margin-bottom: 10px;
	& .mat-radio-button {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}
.clear-button {
	display: flex;
	justify-content: flex-end;
}
