@import 'app-colors';
.confirm-text {
	color: $_colorSecondaryText400;
	margin-top: 15px;
	font-weight: 500;
}
.confirm-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;

	& ui-button {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.pad {
	padding: 7px;
	display: flex;
	flex-flow: column;
}
