<div class="pad">
	<div class="confirm-text" [innerHTML]="data?.text"></div>

	<div class="confirm-buttons">
		<ui-button
			mat-dialog-close
			[text]="data?.closeText"
			buttonType="stroked"
			(onClick)="closeClicked()"
		></ui-button>
	</div>
</div>
