@import 'app-colors';

.ui-card-element {
	display: flex;
	flex-flow: column;
}
.ui-card-header {
	display: flex;
	justify-content: space-between;
}
.card-content-flex {
	display: flex;
	flex-flow: column;
	overflow-y: hidden;
}
