<!-- <mat-card [ngClass]="[getCardCssClasses()]">
    <mat-card-title [ngClass]="[getCardTitleClasses()]">
        {{headerText}}
    </mat-card-title>
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
</mat-card> -->

<div [ngClass]="flatLayout ? 'ui-card-flat' : 'ui-card'">
	<div *ngIf="showHeader" class="ui-card-header" [ngClass]="flatLayout ? 'flat' : ''">
		<!-- <fa-icon [icon]="iconSvc.getIconByKey('falChevronDoubleRight')"></fa-icon> -->
		{{ headerText }}
		<ng-content select="[buttons]"></ng-content>
	</div>

	<div class="card-content" [ngClass]="getCardContentClasses()">
		<ng-content></ng-content>
	</div>
</div>
