@import 'ui-colors';
@import 'ui-media';

.ui-table {
	width: 100%;
}
.table-buttons {
	margin-bottom: 10px;
}

.ui-modal-content {
	& .modal-title {
		font-size: 1.5em;
		color: $_colorSecondaryText;
		margin-bottom: 15px;
	}
}
.ui-row-2 {
	@include laptop {
		flex-flow: column;
	}
	> .ui-form-input {
		width: 49.5%;

		@include laptop {
			width: 100%;
		}
	}
	> .mat-form-field {
		width: 49.5%;
		@include laptop {
			width: 100%;
		}
	}
	> .mat-checkbox {
		width: 49.5%;
		@include laptop {
			width: 100%;
		}
	}
	> .ui-button {
		width: 49.5%;

		@include laptop {
			width: 100%;
		}

		& button {
			margin-top: 4.5px;
		}
	}
	> ui-card {
		width: 49.5%;

		@include laptop {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
.ui-row-3 {
	@include laptop {
		flex-flow: column;
	}
	> .ui-form-input {
		width: 33%;
	}
	> .mat-form-field {
		width: 33%;
	}
	> .mat-checkbox {
		width: 33%;
	}
	> .ui-button {
		width: 33%;
		& button {
			margin-top: 4.5px;
		}
	}
	> ui-card {
		width: 33%;

		@include laptop {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
.ui-row-4 {
	@include laptop {
		flex-flow: column;
	}
	> .ui-form-input {
		width: 24.75%;
	}
	> .mat-form-field {
		width: 24.75%;
	}
	> .mat-checkbox {
		width: 24.75%;
	}
	> .ui-button {
		width: 24.75%;
		& button {
			margin-top: 4.5px;
		}
	}
	> ui-card {
		width: 24.75%;

		@include laptop {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}

.ui-card {
	display: flex;
	flex-flow: column;
	background: #fff;
	border: 1px solid $_colorInputText;
	border-radius: $_borderRadius;
	height: 100%;
}
.ui-card-flat {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.ui-card-header {
	font-size: 1.2em;
	font-weight: 500;
	color: $_colorSecondaryText400;
	padding: 10px;
	border-bottom: 1px solid $_colorInputText;
	border-top-left-radius: $_borderRadius;
	border-top-right-radius: $_borderRadius;
	background: $_colorPageBack;

	& fa-icon {
		color: $_colorPrimary;
	}
}
.card-content {
	padding: 10px;
}

.ui-form-input {
	&.ui-checkbox {
		margin-top: 10px !important;
	}
}

.overflow-y {
	overflow-y: hidden;
}
.overflow-y-auto {
	overflow-y: auto !important;
}
