@import 'ui-theme';

/* **************************************** */
/* PUBLIC COLORS                            */
/* **************************************** */

// ---------------
// Blue
// ---------------
$_colorPrimary: mat-color($primary) !default;
$_colorPrimaryLight: mat-color($primary, 300);
$_colorPrimaryHover: mat-color($primary, 500);
$_colorPrimaryHover2: mat-color($primary, 400);
$_colorPrimaryHover3: mat-color($primary, 100);

$_colorWarn: mat-color($warn);
$_colorWarnLight: rgba($_colorWarn, 70%);
$_colorWarnDark: darken($_colorWarn, 15%);
// ---------------
// Gray
// ---------------
$_colorPageBack2: #e4e5e6;
$_colorPageBack: #f4f6f8;
$_colorSecondary: mat-color($secondary);
$_colorSecondaryIcon: mat-color($secondary, 400);
// Background
$_colorSecondaryBackground: mat-color($secondary, 50);
$_colorSecondaryBackground100: mat-color($secondary, 100);
$_colorSecondaryBackground300: mat-color($secondary, 300);
$_colorSecondaryBackground500: mat-color($secondary, 500);
// Border
$_colorBorderDark: mat-color($secondary, 100);
$_colorBorderDarkLight: rgba($_colorBorderDark, 10%);
$_colorBorderDarkBold: mat-color($secondary, 500);
// Text
$_colorSecondaryText: mat-color($secondary, 500);
$_colorSecondaryText100: mat-color($secondary, 100);
$_colorSecondaryText200: mat-color($secondary, 200);
$_colorSecondaryText300: mat-color($secondary, 300);
$_colorSecondaryText400: mat-color($secondary, 400);
$_colorSecondaryHover: mat-color($secondary, 400);
$_colorTextWhite: mat-color($secondary, 50);
$_colorTextWhiteLight: rgba($_colorTextWhite, 70%);

$_colorTextDark: mat-color($secondary);
$_colorTextDarkLight: rgba($_colorTextDark, 10%);
$_colorTextDarkBold: mat-color($secondary, 500);

$_colorInputText: #a0acba;
$_colorInputText2: lighten($_colorInputText, 25%);
$_borderRadius: 3px;

$_colorBlue: #3f51b5;
$_colorOrange: orange;
$_colorRed: $_colorWarn;
$_colorGreen: green;
// FOREGROUND
//      base
//      divider
//      dividers
//      disabled
//      disabled-button
//      disabled-text
//      hint-text
//      secondary-text
//      icon
//      icons
//      text
// BACKGROUND
//      status-bar
//      app-bar
//      background
//      hover
//      card
//      dialog
//      disabled-button
//      raised-button
//      focused-button
//      selected-button
//      selected-disabled-button
//      disabled-button-toggle
