// *****************************************
// MEDIA QUERY
// *****************************************
// $phone-min-S: 0px;
// $phone-max-S: 320px;
// $phone-min-M: 321px;
// $phone-max-M: 375px;
// $phone-min-L: 376px;
// $phone-max-L: 425px;

// $tablet-min: 481px;
// $tablet-max: 1024px;

// $laptop-min: 1025px;
// $laptop-max: 1280px;

// $desktop-min: 1281px;
// $desktop1400: 1400px;

// // Small devices
// @mixin phoneS {
// 	@media (max-width: $phone-max-S) {
// 		@content;
// 	}
// }
// @mixin phoneM {
// 	@media (max-width: $phone-max-M) {
// 		@content;
// 	}
// }
// @mixin phoneL {
// 	@media (max-width: $phone-max-L) {
// 		@content;
// 	}
// }

// // Medium devices
// @mixin tablet {
// 	@media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
// 		@content;
// 	}
// }

// // Large devices
// @mixin laptop {
// 	@media (max-width: $desktop1400) {
// 		@content;
// 	}
// }

// // Large devices
// @mixin desktop {
// 	@media (min-width: #{$desktop-min}) {
// 		@content;
// 	}
// }

// .hide-on-phone {
// 	@include phoneL {
// 		display: none;
// 	}
// }
