/**
  * Override style for Angular Material UI components
  */
@import 'ui-colors';

$invalidRed: #f44336;
// Dropdown
.mat-option {
	font-size: 0.9em !important;
}
.mat-optgroup-label {
	font-weight: 600 !important;
}
// Tooltip
.mat-tooltip {
	font-size: 1em !important;
	white-space: pre-line !important;
}
.mat-card-title {
	color: $_colorSecondaryText400 !important;
	font-size: 1.3em !important;
}
.mat-dialog-container {
	padding: 10px !important;
}
// Mat list
mat-selection-list {
	mat-list-option {
		height: 35px !important;
		border-bottom: 1px solid $_colorInputText;
		&:first-child {
			border-top: 1px solid $_colorInputText;
		}
	}
	.mat-list-single-selected-option {
		background: $_colorPrimaryHover !important;
		border-bottom: none;
	}
}
.ui-button {
	& fa-icon {
		font-size: 1.5em;
		margin-right: 5px;
	}

	& .ui-button-link {
		> .mat-button-wrapper {
			color: $_colorSecondaryText400 !important;
		}
	}
	& .mat-button-wrapper {
		> .ui-button-link {
			color: $_colorSecondaryText400 !important;
		}
	}
	& .ui-button-transparent {
		background: transparent !important;
		& .ui-button-text {
			// color: $_colorTextWhite;
			color: $_colorSecondaryText !important;
		}
	}
	& .mat-primary {
		& .ui-button-text {
			color: $_colorTextWhite;
		}
	}
	& .mat-accent {
		& .ui-button-text {
			color: $_colorTextWhite;
		}
	}
	& .mat-warn {
		& .ui-button-text {
			color: $_colorTextWhite;
		}
	}

	& .mat-button-wrapper {
		display: flex !important;
		color: $_colorTextWhite !important;
	}
}

.mat-tab-body-content {
	overflow: hidden !important;
}

.mat-paginator {
	background: transparent !important;

	.mat-paginator-outer-container {
		// background: $_colorPageBack2;
		// background: transparent;
	}
}

/* ************************************************** */
/*           MATERIAL INPUT                           */
/* ************************************************** */
.form-row {
	& .mat-form-field {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}
// DROPDOWN IN TABLE CELL
.mat-cell {
	font-size: 0.85em !important;

	.mat-form-field {
		margin-bottom: 0;
		height: 1em;
	}
	mat-form-field.mat-form-field.mat-form-field-appearance-outline
		> div.mat-form-field-wrapper
		> div.mat-form-field-flex
		> div.mat-form-field-infix {
		padding: 0;
		// padding-top: 0.214286em;
	}
	& .mat-select-trigger {
		top: -4px;
	}
	.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
		transform: translateY(0%);
	}
}

.mat-form-field {
	height: 3em;
	// border: 1px solid red;
	margin-bottom: 10px;
	width: 100%;

	& fa-icon {
		margin-right: 10px;
	}

	// &:focus {
	// }
}
mat-form-field.mat-form-field.mat-form-field-appearance-outline
	> div.mat-form-field-wrapper
	> div.mat-form-field-flex
	> div.mat-form-field-infix {
	padding: 0.4em 0px;
	top: -2px;
	// padding-top: 0.214286em;
}
// label inside control (when no user input)
mat-form-field.mat-form-field.mat-form-field-appearance-outline
	> div.mat-form-field-wrapper
	> div.mat-form-field-flex
	> div.mat-form-field-infix
	> span.mat-form-field-label-wrapper {
	top: -1.1em;

	& .mat-form-field-label {
		color: $_colorInputText !important;
	}
}
// label above control
mat-form-field.mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float
	> div.mat-form-field-wrapper
	> div.mat-form-field-flex
	> div.mat-form-field-infix
	> span.mat-form-field-label-wrapper {
	top: -1.05em;

	& .mat-form-field-label {
		color: $_colorInputText !important;
	}
}
// label inside control (when user input) (with prefix icon)
mat-form-field.mat-form-field.input-with-prefix.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float {
	& .mat-form-field-label-wrapper {
		left: -1.75em;
	}
}
// File input control with postfix icon
mat-form-field.mat-form-field.ui-file-input.mat-form-field-appearance-outline
	> div.mat-form-field-wrapper
	> div.mat-form-field-flex
	> div.mat-form-field-infix {
	display: flex;

	& fa-icon {
		font-size: 1.5em;
		margin-top: -8px;
		margin-left: 5px;
		&:hover {
			cursor: pointer;
		}
	}
}
// label when input control has text entered
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
	transform: translateY(-1.3em) scale(0.75) !important;
}
// error label
.mat-form-field-subscript-wrapper {
	// margin-top: -1.25em !important;
	font-size: 74% !important;
	margin-top: -0.57px !important;
}
.mat-form-field-infix {
	width: 100% !important;
}
// input prefix
.mat-form-field-appearance-outline .mat-form-field-prefix {
	// top: -0.15em !important; // prefix za text
	top: -0.01em !important;
	margin-right: 5px;
	font-weight: 500;
	// & fa-icon {
	// }
}
// input suffix
.ui-form-input .mat-form-field-appearance-outline .mat-form-field-suffix {
	top: -0.22em !important;
}
.mat-form-field-appearance-outline .mat-form-field-suffix {
	& .suffix-button {
		top: -2px;

		& fa-icon {
			margin-right: 0 !important;
		}
	}
	& .ui-suffix-text {
		top: -3px !important;

		& .text {
			font-weight: 500;
			color: $_colorBorderDarkBold;
			font-style: italic;
			cursor: pointer;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

/** ********** VALID INPUT WITHOUT TEXT***********/
.mat-form-field-appearance-outline:not(.mat-form-field-disabled) {
	& .mat-form-field-outline-start {
		border-top-style: solid !important;
		border-top-color: $_colorBorderDark !important;
		border-bottom-style: solid !important;
		border-bottom-color: $_colorBorderDark !important;
		border-left-style: solid !important;
		border-left-color: $_colorBorderDark !important;
		border-top-left-radius: $_borderRadius;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: $_borderRadius;

		border-top-left-radius: $_borderRadius;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: $_borderRadius;

		border-right-style: none !important;
	}
	& .mat-form-field-outline-gap {
		border-top-style: solid !important;
		border-top-color: $_colorBorderDark !important;
		border-bottom-style: solid !important;
		border-bottom-color: $_colorBorderDark !important;
		border-left-style: none !important;
		border-right-style: none !important;
	}
	& .mat-form-field-outline-end {
		border-top-style: solid !important;
		border-top-color: $_colorBorderDark !important;
		border-bottom-style: solid !important;
		border-bottom-color: $_colorBorderDark !important;
		border-left-style: none !important;
		border-right-style: solid !important;
		border-right-color: $_colorBorderDark !important;
	}
}
/** Hovering over valid input */
.mat-form-field-appearance-outline.mat-form-field-should-float:not(.mat-form-field-disabled)
	.mat-form-field-flex:hover
	.mat-form-field-outline
	.mat-form-field-outline-gap {
	border-top-style: none !important;
	border-top-color: magenta !important;
}
.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
	& .mat-form-field-outline-start {
		border-top-style: solid !important;
		border-top-color: $_colorBorderDarkBold !important;
		border-bottom-style: solid !important;
		border-bottom-color: $_colorBorderDarkBold !important;
		border-left-style: solid !important;
		border-left-color: $_colorBorderDarkBold !important;

		border-right-style: none !important;
	}
	& .mat-form-field-outline-gap {
		border-top-style: solid !important;
		border-top-color: $_colorBorderDarkBold !important;
		border-bottom-style: solid !important;
		border-bottom-color: $_colorBorderDarkBold !important;
		border-left-style: none !important;
		border-right-style: none !important;
	}
	& .mat-form-field-outline-end {
		border-top-style: solid !important;
		border-top-color: $_colorBorderDarkBold !important;
		border-bottom-style: solid !important;
		border-bottom-color: $_colorBorderDarkBold !important;
		border-left-style: none !important;
		border-right-style: solid !important;
		border-right-color: $_colorBorderDarkBold !important;
	}
}

/** ********** VALID INPUT WITH TEXT***********/
.mat-form-field-appearance-outline.mat-form-field-should-float {
	& .mat-form-field-outline-gap {
		border-top-style: none !important;
	}
}
/** ********** INVALID INPUT WITHOUT TEXT***********/
.mat-form-field-appearance-outline.mat-form-field-invalid {
	& .mat-form-field-outline-start {
		border-top-style: solid !important;
		border-top-color: $invalidRed !important;
		border-bottom-style: solid !important;
		border-bottom-color: $invalidRed !important;
		border-left-style: solid !important;
		border-left-color: $invalidRed !important;

		border-right-style: none !important;
	}
	& .mat-form-field-outline-gap {
		border-top-style: solid !important;
		border-top-color: $invalidRed !important;
		border-bottom-style: solid !important;
		border-bottom-color: $invalidRed !important;
		border-left-style: none !important;
		border-right-style: none !important;
	}
	& .mat-form-field-outline-end {
		border-top-style: solid !important;
		border-top-color: $invalidRed !important;
		border-bottom-style: solid !important;
		border-bottom-color: $invalidRed !important;
		border-left-style: none !important;
		border-right-style: solid !important;
		border-right-color: $invalidRed !important;
	}
}
/** ********** INVALID INPUT WITH TEXT***********/
.mat-form-field-appearance-outline.mat-form-field-should-float.mat-form-field-invalid {
	& .mat-form-field-outline-gap {
		border-top-style: none !important;
	}
}

.mat-form-field-appearance-outline {
	& .mat-form-field-infix {
		& .mat-form-field-label-wrapper {
			& .mat-form-field-label {
				color: $_colorSecondaryText100;
			}
		}
	}
}

.mat-sort-header-arrow {
	color: $_colorTextWhite !important;
}

/* CHECKBOX */
.mat-checkbox-label {
	> p {
		font-weight: 400;
		margin: 0;
	}
}

.mat-datepicker-toggle {
	& .mat-icon-button {
		top: 7px;
	}
}
