@import './ui-colors';

.pointer {
	cursor: pointer !important;
}
.icon-green {
	color: $_colorGreen !important;
}
.icon-red {
	color: $_colorRed !important;
}
.icon-primary {
	color: $_colorPrimary !important;
}
