$mat-theme-ignore-duplication-warnings: true;

@import '~@angular/material/_theming.scss';
@include mat-core();

$_basePrimary: #007bb0;
$_baseSecondary: #3c4652;

$my-primary: (
	50: lighten($_basePrimary, 65),
	100: lighten($_basePrimary, 40),
	200: lighten($_basePrimary, 30),
	300: lighten($_basePrimary, 20),
	400: lighten($_basePrimary, 10),
	500: $_basePrimary,
	600: darken($_basePrimary, 10),
	700: darken($_basePrimary, 20),
	800: darken($_basePrimary, 30),
	900: darken($_basePrimary, 40),
	A100: #8c9eff,
	A200: #536dfe,
	A400: #3d5afe,
	A700: #304ffe,
	contrast: (
		50: $dark-primary-text,
		100: $dark-primary-text,
		200: $dark-primary-text,
		300: $light-primary-text,
		400: $light-primary-text,
		500: $light-primary-text,
		600: $light-primary-text,
		700: $light-primary-text,
		800: $light-primary-text,
		900: $light-primary-text,
		A100: $dark-primary-text,
		A200: $light-primary-text,
		A400: $light-primary-text,
		A700: $light-primary-text,
	),
);
$my-secondary: (
	50: lighten($_baseSecondary, 90),
	100: lighten($_baseSecondary, 40),
	200: lighten($_baseSecondary, 30),
	300: lighten($_baseSecondary, 20),
	400: lighten($_baseSecondary, 10),
	500: $_baseSecondary,
	600: darken($_baseSecondary, 10),
	700: darken($_baseSecondary, 20),
	800: darken($_baseSecondary, 30),
	900: darken($_baseSecondary, 40),
	A100: #8c9eff,
	A200: #536dfe,
	A400: #3d5afe,
	A700: #304ffe,
	contrast: (
		50: $dark-secondary-text,
		100: $dark-secondary-text,
		200: $dark-secondary-text,
		300: $light-secondary-text,
		400: $light-secondary-text,
		500: $light-secondary-text,
		600: $light-secondary-text,
		700: $light-secondary-text,
		800: $light-secondary-text,
		900: $light-secondary-text,
		A100: $dark-secondary-text,
		A200: $light-secondary-text,
		A400: $light-secondary-text,
		A700: $light-secondary-text,
	),
);
$primary: mat-palette($my-primary);
$secondary: mat-palette($my-secondary);
$warn: mat-palette($mat-red);

// MAIN 3 COLORS
$theme-app: mat-light-theme($primary, $secondary, $warn);
@include angular-material-theme($theme-app);

// FOREGROUND
//      base
//      divider
//      dividers
//      disabled
//      disabled-button
//      disabled-text
//      hint-text
//      secondary-text
//      icon
//      icons
//      text
// BACKGROUND
//      status-bar
//      app-bar
//      background
//      hover
//      card
//      dialog
//      disabled-button
//      raised-button
//      focused-button
//      selected-button
//      selected-disabled-button
//      disabled-button-toggle
