<ng-container *ngIf="buttonType === 'basic'">
	<button
		*ngIf="buttonColor !== 'link'"
		mat-button
		[color]="getButtonColor()"
		[disabled]="(spinnerHttp.isVisible$ | async) || isDisabled"
		[ngClass]="getButtonClass(spinnerHttp.isVisible$ | async)"
		[ngStyle]="getButtonInlineStyle()"
		(click)="onClickInternal()"
	>
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</button>
	<a *ngIf="buttonColor === 'link'" [color]="getButtonColor()" mat-button (click)="onClickInternal()">
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</a>
</ng-container>

<ng-container *ngIf="buttonType === 'raised'">
	<button
		*ngIf="buttonColor !== 'link'"
		mat-raised-button
		[color]="getButtonColor()"
		[disabled]="(spinnerHttp.isVisible$ | async) || isDisabled"
		[ngClass]="getButtonClass(spinnerHttp.isVisible$ | async)"
		[ngStyle]="getButtonInlineStyle()"
		(click)="onClickInternal()"
	>
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</button>
	<a *ngIf="buttonColor === 'link'" [color]="getButtonColor()" mat-raised-button (click)="onClickInternal()">
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</a>
</ng-container>

<ng-container *ngIf="buttonType === 'stroked'">
	<button
		*ngIf="buttonColor !== 'link'"
		mat-stroked-button
		[color]="getButtonColor()"
		[disabled]="(spinnerHttp.isVisible$ | async) || isDisabled"
		[ngClass]="getButtonClass(spinnerHttp.isVisible$ | async)"
		[ngStyle]="getButtonInlineStyle()"
		(click)="onClickInternal()"
	>
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</button>
	<a *ngIf="buttonColor === 'link'" [color]="getButtonColor()" mat-stroked-button (click)="onClickInternal()">
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</a>
</ng-container>

<ng-container *ngIf="buttonType === 'flat' && !isIconOnRightSide">
	<button
		*ngIf="buttonColor !== 'link'"
		mat-flat-button
		[color]="getButtonColor()"
		[disabled]="(spinnerHttp.isVisible$ | async) || isDisabled"
		[ngClass]="getButtonClass(spinnerHttp.isVisible$ | async)"
		[ngStyle]="getButtonInlineStyle()"
		(click)="onClickInternal()"
	>
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</button>
	<a *ngIf="buttonColor === 'link'" [color]="getButtonColor()" mat-flat-button (click)="onClickInternal()">
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
		<div [ngClass]="getButtonTextClass()">{{ text }}</div>
	</a>
</ng-container>

<ng-container *ngIf="buttonType === 'flat' && isIconOnRightSide">
	<button
		*ngIf="buttonColor !== 'link'"
		mat-flat-button
		[color]="getButtonColor()"
		[disabled]="(spinnerHttp.isVisible$ | async) || isDisabled"
		[ngClass]="getButtonClass(spinnerHttp.isVisible$ | async)"
		[ngStyle]="getButtonInlineStyle()"
		(click)="onClickInternal()"
	>
		<div [ngClass]="getButtonTextClass()" class="btn-margin">{{ text }}</div>
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
	</button>
	<a *ngIf="buttonColor === 'link'" [color]="getButtonColor()" mat-flat-button (click)="onClickInternal()"
		><div [ngClass]="getButtonTextClass()">{{ text }}</div>
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal" [ngClass]="getButtonTextClass()"></fa-icon>
	</a>
</ng-container>
