<button
	*ngIf="isVisible"
	mat-stroked-button
	[matMenuTriggerFor]="menu"
	color="accent"
	[ngStyle]="getButtonInlineStyle()"
	class="drop-button"
>
	<fa-icon [icon]="iconSvc.getIconByKey('fasChevronDown')"></fa-icon>
</button>

<mat-menu #menu="matMenu">
	<ng-content></ng-content>
</mat-menu>
