@import 'app-colors';

.ui-form-label-element {
	display: flex;
	flex-flow: row;
}
.ui-form-label {
	display: flex;
	flex-flow: row;
	width: 100%;

	.ui-form-label-static {
		width: 50%;
		color: $_colorSecondaryText300;
	}
	.ui-form-label-dynamic {
		width: 50%;
		color: $_colorSecondaryText400;
		font-weight: 500;
	}
}
