@import 'app-colors';
@import 'app-media';

$_padding: 45px; // For inline editing icons

.table-header {
	margin-top: 10px;
}
.hide-div {
	display: none !important;
}
// .mat-footer-row,
// .mat-header-row,
// .mat-row {
// 	display: inline-flex !important;
// 	min-width: 100% !important;
// }

table {
	width: 100%;
}
.table-header-hide {
	display: none;
}
.mat-table {
	// $tmp: 0.5px;
	border: 1px solid $_colorBorderDark;
	//border-radius: $_borderRadius;
	// table-layout: fixed;
	// width: calc(100% - #{$tmp}) !important;
}
.ui-table-container {
	overflow-y: hidden;
	overflow-x: auto;
	//position: relative;
	//display: flex;
	//height: 100%;
	// overflow-y: scroll;
}

.ui-table-export-btn {
	position: sticky;
	right: 0;
	display: flex;
	left: 0;
	justify-content: flex-end;
}

/* ***** HEADER ***** */

.mat-header-row {
	// display: flex;
	background: $_colorPrimaryHover;
	min-height: 30px;
	height: 35px;

	& .mat-header-cell-table {
		display: flex;
		align-items: center;
	}
	& .mat-header-cell {
		// display: flex;
		// flex-flow: row;
		// justify-content: flex-start;
		// align-items: center;
		//font-weight: 600;
		font-size: 1em;
		color: $_colorTextWhite;

		padding-left: 5px;
		padding-right: 5px;
		border-right: 1px solid rgba(0, 0, 0, 0.12);

		&:first-of-type {
			padding-left: 10px !important;
		}

		// & .icon-stack {
		// 	font-size: 1.1em;
		// 	height: 1.1em;
		// 	width: 1.1em;
		// }

		&:last-child {
			border-right: none;
		}
	}
}
/* ***** ROW ***** */
// Separate class in case user disabled row color change on hover
.mat-row-hover {
	&:hover {
		background: $_colorPrimaryHover2;
	}
}

/* ***** CELL ***** */
.mat-row {
	// display: flex;
	min-height: 30px;
	height: 30px;
	// word-wrap: break-word;
	// align-items: stretch;

	& .mat-cell {
		// // white-space: pre-wrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		font-size: 0.96em;
		padding-left: 5px;
		padding-right: 5px;
		border-right: 1px solid rgba(0, 0, 0, 0.12);

		&:first-of-type {
			padding-left: 10px !important;
		}
		&:last-child {
			border-right: none;
		}
	}
}
.mat-paginator {
	background: $_colorSecondaryBackground;
}

/* ***** FILTERS ***** */
.filter-icons {
	margin-right: 5px;

	& fa-icon {
		cursor: pointer;

		// &:not(:first-child) {
		// 	margin-left: 3px;
		// }
		// &:first-child {
		// 	margin-left: 5px;
		// }
	}
}

.inline-edit-icon {
	margin-left: 10px;
	font-size: 1.1em !important;
}
// User defined cell icon
.table-icons-container {
	display: flex;
	// flex: 1;

	& a {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	& i:only-child {
		margin-right: 0px;
	}
	& fa-icon {
	}
}
.table-cell-icon {
	& fa-icon {
		font-size: 1.5em;
		color: $_colorSecondaryText400;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.group-select {
	background: $_colorPrimaryHover !important;
	color: red !important;
}

// ACtion cell icons
.cell-icon-action {
	font-size: 1.4em;
}

.hide-cell-on-phone {
	@include phoneL {
		display: none;
	}
}

.export-icon {
	font-size: 2em;
	color: $_colorPrimary;
	//color: #007bb0;
	cursor: pointer;
}

.mat-cell-center {
	text-align: center;
}
.mat-cell-right {
	text-align: right;
}
.mat-cell-left {
	text-align: left;
}

.grey {
	background: #f5f5f5;
}

#inlineEdit {
	text-align: right;
}

.disabled-cell {
	background: gray;
}

.cell-router-link {
	&:hover {
		text-decoration: underline;
	}
}

.okcancel {
	display: flex;
	justify-content: space-between;
	flex-flow: row;

	position: relative;
	right: $_padding;

	& #inlineOk {
		color: $_colorGreen;
	}

	& #inlineCancel {
		color: $_colorRed;
	}

	& fa-icon:hover {
		background: $_colorPageBack2;
	}

	& fa-icon {
		padding: 2px;
	}

	& .okcancel-border {
		// background: $_colorSecondary;
		border-left: 1px solid $_colorSecondary;
		width: 1px;
		height: 100%;
	}

	& .border-pad {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	& .border-pad-more {
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

.inline-edit {
	padding-right: $_padding;
}
