<!-- ========== CSV EXPORT BUTTON ========== -->
<!-- [ngClass]="{hasDefinedMaxHeight() ? 'scrollable-table' : '', cssClassCustom}" -->
<div
	#tableRef
	class="ui-table-container"
	[ngClass]="hasDefinedMaxHeight() ? 'scrollable-table' : ''"
	[ngStyle]="getTableContainerStyle()"
>
	<div *ngIf="uiTableConfig.table.isExportVisible" class="ui-table-export-btn">
		<fa-icon
			class="export-icon"
			[matTooltip]="textSvc.getText('csv_export')"
			[icon]="iconSvc.getIconByKey('falFileCsv')"
			(click)="_onExportCSV()"
		></fa-icon>
	</div>

	<table
		mat-table
		#table
		matSort
		(matSortChange)="_onSortingChanged($event)"
		[dataSource]="uiTableConfig.dataSource"
		[class]="uiClass"
		[ngStyle]="getTableStyle()"
		[matSortStart]="sortStart"
	>
		<!-- ========== HEADER ROW ========== -->
		<tr
			mat-header-row
			*matHeaderRowDef="displayedColumns; sticky: uiTableConfig.header.stickyHeader"
			[ngClass]="getTableHeaderClass()"
		></tr>
		<!-- ========== NORMAL ROW ========== -->
		<tr
			mat-row
			*matRowDef="let row; let odd = odd; columns: displayedColumns"
			(click)="_onSelectCheckboxRow($event, row)"
			[ngStyle]="getRowStyle(row)"
			[ngClass]="{
				pointer: uiTableConfig.table.highlightRowCursorAsPointer && !row['TABLE_ROW_ISDISABLED'],
				'mat-row-hover': uiTableConfig.table.higlightRowOnHover && !row['TABLE_ROW_ISDISABLED'],
				'group-select': row.IsSelected && !row['TABLE_ROW_ISDISABLED'],
				grey: odd && uiTableConfig.alternatingColor
			}"
		></tr>

		<!-- CHECKBOX COLUMN (if enabled) -->
		<!-- if uiTableConfig.table.enableRowCheckbox=TRUE -->
		<!-- column 'checkboxSelect' will be pushed to 'displayedColumns' array -->
		<ng-container matColumnDef="checkboxSelect">
			<!-- HEADER CHECKBOX -->
			<th mat-header-cell *matHeaderCellDef [ngStyle]="getCheckboxColumnStyle()">
				<mat-checkbox
					*ngIf="uiTableConfig.checkbox.multiselect"
					(change)="$event ? masterToggle() : null"
					[checked]="checkboxSelection.hasValue() && isAllSelected()"
					[indeterminate]="checkboxSelection.hasValue() && !isAllSelected()"
				>
				</mat-checkbox>
			</th>
			<!-- ROW CHECKBOX -->
			<td mat-cell *matCellDef="let row" [ngStyle]="getCheckboxColumnStyle()">
				<mat-checkbox
					(click)="$event.stopPropagation()"
					(change)="$event ? _onCheckboxSelectionChanged($event, row) : null"
					[checked]="checkboxSelection.isSelected(row)"
					[disabled]="isCheckboxDisabled(row)"
				></mat-checkbox>
			</td>
		</ng-container>

		<!-- LIST OF USER DEFINED  COLUMNS -->
		<ng-container *ngFor="let column of visibleColumns; first as isFirstCol" [matColumnDef]="column.fieldName">
			<!-- HEADER CELL TEXT -->
			<th
				mat-header-cell
				*matHeaderCellDef
				[ngClass]="getHeaderCellClass(column)"
				[ngStyle]="getHeaderCellStyle(column)"
			>
				<!-- POPUP FILTER MENU -->
				<ui-filter-template
					[openFilter]="true"
					[filterHeader]="column.headerText"
					(filterChanged)="_filterChanged($event)"
					(filterClosed)="_filterClosed()"
					(filterCleared)="_filterCleared($event)"
					(filterEscaped)="_filterEscaped()"
					*ngIf="templateFor === column.fieldName"
					[data]="getOrCreateFilterData(column)"
				></ui-filter-template>
				<div class="mat-header-cell-table">
					<div class="filter-icons" *ngIf="isFilterEnabled(column)">
						<fa-icon
							(click)="showFilter(column)"
							[icon]="iconSvc.getIconByKey('fasFilter')"
							[ngClass]="setFilterIconColor(column.fieldName)"
							matPrefix
							[matTooltip]="textSvc.getText('open_filter')"
							matTooltipPosition="below"
						></fa-icon>
					</div>

					<!-- INCLUDE OR EXCLUDE ALL CHECKBOX -->
					<div class="filter-icons" *ngIf="isIncludeExcludeAllEnabled(column)">
						<mat-checkbox
							[checked]="true"
							(change)="selectionChanged($event, column)"
							[matTooltip]="textSvc.getText('include_exclude_all')"
							matTooltipPosition="below"
						></mat-checkbox>
					</div>
					<!-- INCLUDE OR EXCLUDE ALL CHECKBOX END -->

					<div *ngIf="column.sortingEnabled" mat-sort-header>
						{{ column.headerText }}
					</div>
					<div *ngIf="!column.sortingEnabled">
						{{ column.headerText }}
					</div>
				</div>
			</th>

			<!-- TEXT/ICON/NUMBER cellDataType -->
			<div *ngIf="isTextDataType(column)">
				<td
					mat-cell
					*matCellDef="let row"
					(click)="_onRowClick($event, column, row, isFirstCol)"
					(dblclick)="_onRowDblClick($event, column, row)"
					[ngClass]="getCellClass(column, row)"
					[ngStyle]="getCellTdStyle(column, row)"
				>
					<div
						id="TTTTTTTTTT"
						style="display: flex; width: 100%; align-items: center; word-break: break-word"
						(dblclick)="_onCellDblClick($event, column, row)"
						[ngStyle]="getCellDivStyle(row, column, true, true)"
					>
						<div [innerHTML]="formatChildIndentation(column, row, isFirstCol)"></div>
						<div *ngIf="showTableTreeToggleIcon(isFirstCol, column, row)">
							<fa-icon
								[icon]="getTreeTableToggleIcon(row)"
								(click)="_onToggleChilds($event, row)"
								style="margin-right: 10px"
							></fa-icon>
						</div>

						<!-- TEXT BEFORE ICON (not default) -->
						<ng-container *ngIf="column.showText && column.textFirst">
							<span
								(click)="_onCellClicked(row, column)"
								[ngClass]="isCellRouterLink(column) ? 'cell-router-link' : ''"
								>{{ getCellText(row, column) }}</span
							></ng-container
						>

						<!-- ICON - at least one icon defined, else dont show -->
						<ng-container *ngIf="getCellIconsArray(column).length > 0">
							<div class="table-icons-container" [ngStyle]="getIconContainerStyle(column)">
								<ng-container *ngFor="let icon of getCellIconsArray(column)">
									<a
										*ngIf="icon.isLinkIcon"
										href="{{ icon.iconHref(row) }}"
										(contextmenu)="onRightClick(row, icon)"
										(mouseup)="onClickRowIcon(row, $event, icon)"
									>
										<fa-icon
											*ngIf="isIconVisible(icon, row)"
											(click)="icon.onClick(row)"
											[icon]="icon.getIcon(row)"
											class="{{ icon.getIconClass(row) }}"
											[ngStyle]="getIconStyle(icon, row)"
											matTooltip="{{ icon.getTooltipText(row) }}"
											matTooltipPosition="after"
											[matTooltipShowDelay]="column.tooltipDelay"
										></fa-icon>
									</a>
									<fa-icon
										*ngIf="isIconVisible(icon, row) && !icon.isLinkIcon"
										(click)="icon.onClick(row)"
										[icon]="icon.getIcon(row)"
										class="{{ icon.getIconClass(row) }}"
										[ngStyle]="getIconStyle(icon, row)"
										matTooltip="{{ icon.getTooltipText(row) }}"
										matTooltipPosition="after"
										[matTooltipShowDelay]="column.tooltipDelay"
									></fa-icon>
									<i
										[ngClass]="icon.specialIcon ? icon.specialIcon(row) : ''"
										*ngIf="icon.getIcon(row) == null"
										[ngStyle]="getIconStyle(icon, row)"
										(click)="icon.onClick(row)"
									></i>
								</ng-container>
							</div>
						</ng-container>

						<!-- ICON BEFORE TEXT (default) -->
						<ng-container *ngIf="column.showText && !column.textFirst">
							<div *ngIf="!showInlineEdit(column, row); else inlineEdit">
								<span
									*ngIf="column.cellTooltipEnabled"
									(click)="_onCellClicked(row, column)"
									[ngClass]="isCellRouterLink(column) ? 'cell-router-link' : ''"
									[matTooltip]="getCellTooltip(column, row)"
									[matTooltipPosition]="column?.cellTooltipPosition"
									>{{ getCellText(row, column) }}</span
								>
								<span
									*ngIf="!column.cellTooltipEnabled"
									(click)="_onCellClicked(row, column)"
									[ngClass]="isCellRouterLink(column) ? 'cell-router-link' : ''"
									>{{ getCellText(row, column) }}</span
								>
							</div>
							<fa-icon
								*ngIf="!showInlineEdit(column, row) && isCellEditable(column, row)"
								class="inline-edit-icon"
								[matTooltip]="textSvc.getText('edit_table_cell')"
								matTooltipPosition="below"
								[icon]="iconSvc.getIconByKey('falPencilAlt')"
							></fa-icon>
							<ng-template #inlineEdit>
								<ng-container *ngIf="!column.inlineEditShowSideButtons">
									<input
										id="inlineEdit"
										[ngStyle]="getInlineInputStyle(row, column)"
										[type]="getInlineInputType(column)"
										(keydown.enter)="_onInlineEditEnterPressed($event, column, row)"
										(paste)="_onInlineEdit_Paste($event, column)"
										(keydown)="_onInlineEdit_KeyDown($event, column)"
										(blur)="_onInlineEditEnterPressed($event, column, row)"
										(change)="_onInlineEditFinished($event, column, row)"
										[value]="getCellText(row, column)"
									/>
								</ng-container>
								<ng-container *ngIf="column.inlineEditShowSideButtons">
									<input
										id="inlineEdit"
										class="inline-edit"
										[ngStyle]="getInlineInputStyle(row, column)"
										[type]="getInlineInputType(column)"
										(keydown.enter)="_onInlineEditEnterPressed($event, column, row)"
										(paste)="_onInlineEdit_Paste($event, column)"
										(keydown)="_onInlineEdit_KeyDown($event, column)"
										(blur)="_onInlineEditEnterPressed($event, column, row)"
										[value]="getCellText(row, column)"
									/>
									<div class="okcancel">
										<div class="border-pad">
											<div class="okcancel-border"></div>
										</div>
										<fa-icon
											style="margin: 0"
											[icon]="iconSvc.getIconByKey('falCheck')"
											id="inlineOk"
										></fa-icon>
										<div class="border-pad-more">
											<div class="okcancel-border"></div>
										</div>
										<fa-icon
											style="margin: 0"
											[icon]="iconSvc.getIconByKey('falTimes')"
											id="inlineCancel"
										></fa-icon>
									</div>
								</ng-container>
							</ng-template>
						</ng-container>
					</div>
				</td>
			</div>
			<!-- DATE LOCAL -->
			<div *ngIf="isDateDataType(column) && !column.showDateInLocalTime">
				<ng-container *ngIf="column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
						[matTooltip]="getCellTooltip(column, row)"
						[matTooltipPosition]="column?.cellTooltipPosition"
					>
						{{ row[column.fieldName] | LocalDatePipe }}
					</td>
				</ng-container>
				<ng-container *ngIf="!column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
					>
						{{ row[column.fieldName] | LocalDatePipe }}
					</td>
				</ng-container>
			</div>
			<!-- DATE UTC -->
			<div *ngIf="isDateDataType(column) && column.showDateInLocalTime">
				<ng-container *ngIf="column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
						[matTooltip]="getCellTooltip(column, row)"
						[matTooltipPosition]="column?.cellTooltipPosition"
					>
						{{ row[column.fieldName] | DatePipe }}
					</td>
				</ng-container>

				<ng-container *ngIf="!column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
					>
						{{ row[column.fieldName] | DatePipe }}
					</td>
				</ng-container>
			</div>
			<!-- DATETIME UTC-->
			<div *ngIf="isDateTimeDataType(column) && !column.showDateInLocalTime">
				<ng-container *ngIf="column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
						[matTooltip]="getCellTooltip(column, row)"
						[matTooltipPosition]="column?.cellTooltipPosition"
					>
						{{ row[column.fieldName] | DateTimePipe }}
					</td>
				</ng-container>
				<ng-container *ngIf="!column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
					>
						{{ row[column.fieldName] | DateTimePipe }}
					</td>
				</ng-container>
			</div>

			<div *ngIf="isDateTimeDataType(column) && column.showDateInLocalTime">
				<ng-container *ngIf="column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
						[matTooltip]="getCellTooltip(column, row)"
						[matTooltipPosition]="column?.cellTooltipPosition"
					>
						{{ row[column.fieldName] | LocalDateTimePipe }}
					</td>
				</ng-container>
				<ng-container *ngIf="!column.cellTooltipEnabled">
					<td
						mat-cell
						*matCellDef="let row"
						(click)="_onRowClick($event, column, row, isFirstCol)"
						(dblclick)="_onRowDblClick($event, column, row)"
						[ngStyle]="getCellStyle(column, row)"
					>
						{{ row[column.fieldName] | LocalDateTimePipe }}
					</td>
				</ng-container>
			</div>

			<!-- DROPDOWN -->
			<div *ngIf="isDropdownDataType(column)">
				<td mat-cell *matCellDef="let row" [ngStyle]="getCellStyle(column, row)">
					<mat-form-field appearance="outline">
						<mat-select
							(selectionChange)="_onCellDropdownChanged($event, row, column)"
							[value]="row[column.fieldName]"
							(click)="$event.stopPropagation()"
						>
							<mat-option *ngFor="let s of column.dropdown.data" [value]="s[column.dropdown.idField]">
								{{ s[column.dropdown.valueField] }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</td>
			</div>
		</ng-container>
	</table>

	<mat-paginator
		#paginator
		showFirstLastButtons
		MatPaginatorIntl
		[ngClass]="uiTableConfig.paginator?.paginatorCssClass"
		[ngStyle]="getInlineStylePaginator()"
		[pageSize]="uiTableConfig.paginator?.pageSize"
		[pageSizeOptions]="uiTableConfig.paginator?.pageSizeOptions"
		[hidePageSize]="!uiTableConfig.paginator?.paginatorShowPages"
		(page)="paginatorChangeEvent($event)"
	></mat-paginator>
</div>
