<!-- ****************** -->
<!-- FILE BUTTON        -->
<!-- ****************** -->
<div *ngIf="inputType === 'fileButton' && isVisible">
	<input
		#fileButton
		type="file"
		accept="{{ allowedExtensions }}"
		multiple="{{ multipleSelect }}"
		(change)="_onInputChanged($event)"
		style="display: none"
		(click)="fileButton.value = null"
	/>
	<ui-button
		[text]="labelText ? labelText : 'Select files...'"
		(onClick)="_onOpenFileButtonDialog()"
		[faIcon]="fileButtonIcon"
		[isDisabled]="isDisabled"
	></ui-button>
</div>
<!-- ****************** -->
<!-- CHECKBOX           -->
<!-- ****************** -->
<!-- ngif -> formCtrlName obstaja -->
<mat-checkbox
	*ngIf="inputType === 'checkbox' && isVisible && formCtrlName"
	formControlName="{{ formCtrlName }}"
	[ngClass]="cssClassFormField"
	(change)="_onCheckboxChange($event)"
>
	<p [innerHtml]="labelText"></p>
</mat-checkbox>

<!-- ngif -> formCtrlName NE obstaja -->
<mat-checkbox *ngIf="inputType === 'checkbox' && !formCtrlName" (change)="_onCheckboxChange($event)">
	<p [innerHtml]="labelText"></p>
</mat-checkbox>

<!-- ********************************************************* -->
<!-- DROPDOWN, WITH AUTOCOMPLETE (default) -->
<!-- ********************************************************* -->
<mat-form-field
	*ngIf="
		inputType === 'dropdown' && dropdownInitialized && dropdownConfig && dropdownConfig.autocomplete && isVisible
	"
	appearance="outline"
	[ngClass]="cssClassFormField"
	class="ui-autocomplete"
>
	<input
		type="text"
		aria-label="Number"
		matInput
		[formControlName]="formCtrlName"
		[matAutocomplete]="auto"
		(change)="autocompleteHandleChange($event)"
		(keyup.enter)="onAddNewEntry()"
		[disabled]="isDropdownDisabled(spinnerHttp.isVisible$ | async)"
		[readonly]="dropdownConfig.readOnly"
		[matTooltip]="selectedDropdownItem?.value"
		matTooltipPosition="below"
	/>
	<button *ngIf="hasSuffixButton" matSuffix mat-button (click)="onButtonSelect()">{{ autoCompleteBtnTitle }}</button>
	<!-- INPUT WITH SUFFIX TEXT -->
	<span
		*ngIf="hasSuffixText()"
		matSuffix
		(click)="onClickInternal()"
		[matTooltip]="suffixTextTooltip"
		class="ui-suffix-text"
	>
		<div class="text">{{ suffixText }}</div>
	</span>
	<fa-icon [icon]="iconSvc.getIconByKey('fasCaretDown')"></fa-icon>
	<mat-label>{{ dropdownConfig?.label }}</mat-label>
	<mat-autocomplete
		#auto="matAutocomplete"
		[displayWith]="displayFn"
		(opened)="onAutocompleteDropdownOpened()"
		(optionSelected)="_dropdownAutocompleteSelected($event.option)"
	>
		<mat-option
			*ngFor="let data of autocompleteFiltered | async"
			[value]="data"
			[matTooltip]="data.value"
			matTooltipPosition="below"
		>
			{{ data.value }}
		</mat-option>
	</mat-autocomplete>
	<button *ngIf="dropdownShowNewEntry && this.dropdownCtrl.value" matSuffix mat-button (click)="onAddNewEntry()">
		Add
	</button>
	<fa-icon
		*ngIf="!dropdownConfig.readOnly"
		class="dropdown-clear-icon"
		(click)="_onClearDropdownClicked($event)"
		style="right: 13px; bottom: 5px"
		[icon]="iconSvc.getIconByKey('fasTimes')"
	></fa-icon>
</mat-form-field>

<!-- ********************************************************* -->
<!-- DROPDOWN, WITHOUT AUTOCOMPLETE -->
<!-- ********************************************************* -->
<mat-form-field
	*ngIf="inputType === 'dropdown' && dropdownConfig && !dropdownConfig.autocomplete && isVisible"
	appearance="outline"
	[ngClass]="cssClassFormField"
	class="ui-autocomplete"
>
	<mat-label>{{ dropdownConfig.label }}</mat-label>
	<mat-select
		[formControlName]="formCtrlName"
		(selectionChange)="_onDropdownSelected($event)"
		[disabled]="this.dropdownConfig.isDisabled || isDropdownDisabled(spinnerHttp.isVisible$ | async)"
	>
		<mat-option
			*ngFor="let data of dropdownConfig.dataInternal"
			[value]="data"
			[matTooltip]="getDropdownTooltipText(data)"
			matTooltipPosition="below"
			class="dropdown-icon-column"
		>
			<div class="dropdown-fix" *ngIf="showDropdownIcon(data)">
				<fa-icon [icon]="getDropdownIcon(data)" class="icon-green dropdown-icon"></fa-icon>
			</div>
			{{ data.value }}
		</mat-option>
	</mat-select>
	<fa-icon
		*ngIf="!dropdownConfig.readOnly"
		class="dropdown-clear-icon"
		(click)="_onClearDropdownClicked($event)"
		style="right: 10px; bottom: 7px"
		[icon]="iconSvc.getIconByKey('fasTimes')"
	></fa-icon>
</mat-form-field>

<!-- ****************** -->
<!-- INPUTS -->
<!-- ****************** -->
<mat-form-field
	*ngIf="
		(inputType === 'input' ||
			inputType === 'password' ||
			inputType === 'email' ||
			inputType === 'textarea' ||
			inputType === 'number') &&
		isVisible
	"
	[appearance]="fieldAppearance"
	[ngStyle]="getCustomStyle()"
	[ngClass]="{ cssClassFormField: cssClassFormField, 'input-with-prefix': prefixIcon }"
>
	<span *ngIf="prefixText" matPrefix>{{ prefixText }}</span>
	<fa-icon
		*ngIf="prefixIcon"
		[icon]="prefixIcon"
		[ngClass]="{ 'mat-form-field-preffix-disable': ctrlObject?.disabled }"
		matPrefix
	></fa-icon>
	<fa-icon
		*ngIf="suffixIcon"
		[icon]="suffixIcon"
		[ngClass]="{ 'mat-form-field-preffix-disable': ctrlObject?.disabled }"
		(click)="_onSuffixIconClicked()"
		[matTooltip]="suffixIconTooltip"
		matSuffix
	></fa-icon>
	<mat-label>{{ labelText }}</mat-label>
	<!-- INPUT (default) -->
	<input
		*ngIf="inputType === 'input' && !forceUpperCase"
		matInput
		#textInput
		type="text"
		(keydown.enter)="$event.preventDefault()"
		placeholder="{{ placeholder }}"
		formControlName="{{ formCtrlName }}"
		id="{{ formCtrlName }}"
		name="{{ formCtrlName }}"
		[disabled]="isDisabled"
		[readonly]="isReadonly"
		(change)="_onInputChanged($event)"
	/>

	<input
		*ngIf="inputType === 'input' && forceUpperCase"
		matInput
		#textInput
		type="text"
		#input
		(input)="input.value = $event.target.value.toUpperCase()"
		(keydown.enter)="$event.preventDefault()"
		placeholder="{{ placeholder }}"
		formControlName="{{ formCtrlName }}"
		id="{{ formCtrlName }}"
		name="{{ formCtrlName }}"
		[disabled]="isDisabled"
		[readonly]="isReadonly"
		(change)="_onInputChanged($event)"
	/>

	<!-- INPUT WITH SUFFIX TEXT -->
	<span
		*ngIf="inputType === 'input' && hasSuffixText()"
		matSuffix
		(click)="onClickInternal()"
		[matTooltip]="suffixTextTooltip"
		class="ui-suffix-text"
	>
		<div class="text">{{ suffixText }}</div>
	</span>

	<!-- INPUT WITH SUFFIX BUTTON-->
	<button
		*ngIf="inputType === 'input' && hasSuffixButton"
		mat-icon-button
		matSuffix
		(click)="onClickInternal()"
		[matTooltip]="suffixButtonTooltip"
		class="suffix-button"
	>
		<fa-icon *ngIf="faIconInternal" [icon]="faIconInternal"></fa-icon>
	</button>

	<!-- PASSWORD -->
	<input
		*ngIf="inputType === 'password'"
		matInput
		type="password"
		placeholder="{{ placeholder }}"
		formControlName="{{ formCtrlName }}"
		id="{{ formCtrlName }}"
		name="{{ formCtrlName }}"
		[disabled]="isDisabled"
		[readonly]="isReadonly"
		(change)="_onInputChanged($event)"
	/>
	<!-- EMAIL -->
	<input
		*ngIf="inputType === 'email'"
		matInput
		type="email"
		placeholder="{{ placeholder }}"
		formControlName="{{ formCtrlName }}"
		id="{{ formCtrlName }}"
		name="{{ formCtrlName }}"
		[disabled]="isDisabled"
		[readonly]="isReadonly"
		(change)="_onInputChanged($event)"
	/>
	<!-- TEXTAREA -->
	<textarea
		*ngIf="inputType === 'textarea'"
		matInput
		type="text"
		formControlName="{{ formCtrlName }}"
		id="{{ formCtrlName }}"
		name="{{ formCtrlName }}"
		cdkTextareaAutosize
		[cdkAutosizeMinRows]="textareaMinRows"
		[disabled]="isDisabled"
		[readonly]="isReadonly"
		(change)="_onInputChanged($event)"
	></textarea>
	<!-- NUMBER -->
	<input
		#numberInput
		*ngIf="inputType === 'number'"
		matInput
		type="text"
		placeholder="{{ placeholder }}"
		formControlName="{{ formCtrlName }}"
		id="{{ formCtrlName }}"
		name="{{ formCtrlName }}"
		[disabled]="isDisabled"
		(click)="$event.target.select()"
		(change)="_onInputChanged($event)"
		(keydown)="onNumericInput_KeyDown($event)"
	/>

	<mat-error *ngIf="hasError()">
		{{ getErrorMessage() }}
	</mat-error>
</mat-form-field>

<!-- ****************** -->
<!-- FILE           -->
<!-- ****************** -->
<mat-form-field
	*ngIf="inputType === 'file' && isVisible"
	[appearance]="fieldAppearance"
	[ngStyle]="getCustomStyle()"
	[ngClass]="cssClassFormField"
	class="ui-file-input"
>
	<mat-label>{{ labelText }}</mat-label>
	<input
		#file
		type="file"
		accept="{{ allowedExtensions }}"
		multiple="{{ multipleSelect }}"
		(change)="_onInputChanged($event)"
		(click)="$event.target.value = null"
		style="display: none"
	/>
	<input
		matInput
		type="text"
		placeholder="{{ placeholder }}"
		formControlName="{{ formCtrlName }}"
		id="{{ formCtrlName }}"
		name="{{ formCtrlName }}"
		[disabled]="isDisabled"
		[readonly]="isReadonly"
	/>

	<fa-icon [icon]="iconSvc.getIconByKey('falPaperclip')" (click)="_onOpenFileDialog()"></fa-icon>
</mat-form-field>

<!-- ****************** -->
<!-- DATETIME           -->
<!-- ****************** -->
<mat-form-field
	*ngIf="inputType === 'datetime' && isVisible && !extraCheckbox"
	[appearance]="fieldAppearance"
	[ngStyle]="getCustomStyle()"
	[ngClass]="cssClassFormField"
>
	<span *ngIf="prefixText" matPrefix>{{ prefixText }}</span>
	<fa-icon *ngIf="prefixIcon" [icon]="prefixIcon" matPrefix></fa-icon>
	<mat-label>{{ labelText }}</mat-label>
	<!-- DATETIME -->
	<input
		matInput
		[matDatepicker]="pickerFrom"
		[min]="dateMin"
		formControlName="{{ formCtrlName }}"
		[disabled]="dateInputDisabled"
		[readonly]="dateInputReadOnly"
		(dateChange)="_onInputChanged($event)"
	/>
	<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
	<mat-datepicker #pickerFrom [disabled]="dateInputDisabled && isDisabled"></mat-datepicker>

	<mat-error *ngIf="hasError()">
		{{ getErrorMessage() }}
	</mat-error>
</mat-form-field>

<mat-form-field
	*ngIf="inputType === 'datetime' && isVisible && extraCheckbox"
	[appearance]="fieldAppearance"
	[ngStyle]="getCustomStyle()"
	[ngClass]="cssClassFormField"
>
	<span>
		<mat-checkbox formControlName="{{ extraCheckboxCtrlName }}" (change)="_onExtraCheckboxChange($event)">
		</mat-checkbox>
	</span>
	<fa-icon *ngIf="prefixIcon" [icon]="prefixIcon" matPrefix></fa-icon>
	<mat-label style="margin-left: 20px">{{ labelText }}</mat-label>
	<!-- DATETIME -->
	<input
		matInput
		[matDatepicker]="pickerFrom"
		[min]="dateMin"
		formControlName="{{ formCtrlName }}"
		[disabled]="dateInputDisabled"
		[readonly]="dateInputReadOnly"
		(dateChange)="_onInputChanged($event)"
	/>
	<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
	<mat-datepicker #pickerFrom [disabled]="dateInputDisabled && isDisabled"></mat-datepicker>

	<mat-error *ngIf="hasError()">
		{{ getErrorMessage() }}
	</mat-error>
</mat-form-field>
