/**
     * Limiting accepted file types
     * Example: accept="image/png, image/jpeg" or accept=".png, .jpg, .jpeg" — Accept PNG or JPEG files.
     */
@import 'app-colors';

.mat-tooltip {
	word-break: break-word !important;
}

.mat-form-field-suffix {
	top: -2px !important;
}

.mat-form-field-preffix-disable {
	color: lightgray;
}

.dropdown-fix {
	min-width: 28px;
}

.dropdown-icon-column {
	display: flex;
	flex-flow: row;

	> .mat-option-text {
		display: flex;
		flex-flow: row;
	}
}
.dropdown-clear-icon {
	color: $_colorTextDarkLight !important;
}
.ui-autocomplete {
	cursor: pointer;

	& fa-icon {
		right: 0;
		bottom: 6px;
		position: absolute;
		color: $_colorBorderDark;
	}
}
