<div class="menu-logo" *ngIf="logo">
	<img [src]="logo" />
</div>
<div class="my-menu">
	<div>
		<div *ngFor="let item of normalMenuItems" class="menu-item parent">
			<!-- PARENT MENU -->
			<div class="parent-box" (click)="onRootClicked(item)" *ngIf="item.IsSpecial == false">
				<div
					class="icon-and-text"
					[ngClass]="getSelectedClass(item)"
					id="GBS_{{ item.Title.replace(myReg, '_') }}_menu"
				>
					<fa-icon *ngIf="item.FaIcon" [icon]="item.FaIcon"></fa-icon>
					{{ item.Title }}
				</div>
				<fa-icon
					*ngIf="!item.RouterLink && !item.IsExpanded"
					[icon]="iconSvc.falAngleRight"
					class="menu-expand-icon"
				></fa-icon>
				<fa-icon
					*ngIf="!item.RouterLink && item.IsExpanded"
					[icon]="iconSvc.falAngleDown"
					class="menu-expand-icon"
				></fa-icon>
			</div>
			<!-- CHILDS -->
			<div *ngIf="item.Childs" class="menu-item child" [ngStyle]="getToggleStyle(item)">
				<div *ngFor="let child of item.Childs" class="menu-item">
					<div class="child-box" (click)="onChildClicked(child)">
						<div
							class="icon-and-text"
							[ngClass]="getSelectedClass(child)"
							id="GBS_{{ child.Title.replace(myReg, '_') }}_menu"
						>
							{{ child.Title }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div *ngFor="let item of specialMenuItems" class="menu-item parent bottom">
			<!-- PARENT MENU -->
			<div class="parent-box" (click)="onRootClicked(item)" *ngIf="item.IsSpecial == true">
				<div class="icon-and-text" [ngClass]="getSelectedClass(item)">
					<fa-icon *ngIf="item.FaIcon" [icon]="item.FaIcon"></fa-icon>
					{{ item.Title }}
				</div>
				<fa-icon *ngIf="!item.RouterLink" [icon]="iconSvc.falAngleRight" class="menu-expand-icon"></fa-icon>
			</div>
			<!-- CHILDS -->
			<!-- <div *ngIf="item.Childs" class="menu-item child" [ngStyle]="getToggleStyle(item)">
                <div *ngFor="let child of item.Childs" class="menu-item">
                    <div class="child-box" (click)="onChildClicked(child)">
                        <div class="icon-and-text" [ngClass]="getSelectedClass(child)">
                            {{ child.Title }}
                        </div>
                    </div>
                </div>
            </div> -->
		</div>
	</div>
</div>
