@import 'app-colors';
@import 'app-media';

.ui-menu-component {
	display: flex;
	flex-flow: column;
	padding-top: 15px;
	background: $_colorSecondary;
	min-width: 235px;

	@include phoneL {
		display: none;
	}
}
.mobile {
	@include phoneL {
		display: flex;
	}
}

.menu-logo {
	display: flex;
	justify-content: center;
}
.menu-item {
	display: flex;
	flex-flow: column;
	cursor: pointer;

	&.parent {
		border-bottom: 1px solid rgba($_colorTextWhite, 0.15);
	}

	&.bottom {
		vertical-align: bottom;
		bottom: 0;
	}
}

.my-menu {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100%;
}

.parent-box {
	display: flex;
	font-weight: 500;
	justify-content: space-between;
	font-size: 1em;
	color: $_colorInputText;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;

	&:hover {
		background: $_colorSecondaryHover;
	}
}
.child-box {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 53px;

	font-size: 0.95em;
	color: darken($_colorInputText, 10%);

	&:hover {
		background: $_colorSecondaryHover;
	}
}
.icon-and-text {
	& fa-icon {
		font-size: 1.3em;
		min-width: 25px;
		display: inline-block;
	}
}
.primary-text {
	color: $_colorPrimary;
}
