<div class="confirm-container">
	<div *ngIf="data?.icon" class="icon-confirm-dialog">
		<fa-icon *ngIf="data?.icon" [icon]="data?.icon"></fa-icon>
		<div class="confirm-text" [innerHTML]="data?.text"></div>
		<fa-icon *ngIf="data?.icon" [icon]="data?.icon"></fa-icon>
	</div>
	<div *ngIf="!data?.icon">
		<div class="confirm-text" [innerHTML]="data?.text"></div>
		<div *ngIf="data?.boldText" class="boldText-confirm-text" [innerHTML]="data?.boldText"></div>
	</div>
	<div class="confirm-buttons">
		<!-- <button mat-raised-button (click)="onConfirmDelete()" mat-dialog-close color="warn">
		Odstrani
	</button> -->
		<!-- <button mat-raised-button mat-dialog-close class="left-margin">Prekliči</button> -->
		<ui-button
			*ngIf="data?.showCancel"
			mat-dialog-close
			[text]="data?.cancelText"
			buttonType="stroked"
			(onClick)="noClicked()"
			[faIcon]="iconSvc.getIconByKey('falTimes')"
		></ui-button>
		<ui-button
			*ngIf="data?.showOk"
			mat-dialog-close
			[text]="data?.okText"
			(onClick)="okClicked()"
			[faIcon]="iconSvc.getIconByKey('falCheck')"
		></ui-button>
	</div>
</div>
