@import 'app-colors';
.confirm-text {
	color: $_colorSecondaryText400;
	margin-top: 15px;
	font-weight: 500;
	padding: 0 10px;
}

.boldText-confirm-text {
	color: $_colorRed;
	margin-top: 5px;
	font-weight: 700;
}

.confirm-buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	padding: 0 10px;

	& ui-button {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}

.confirm-container {
	padding: 10px;
}

.icon-confirm-dialog {
	display: flex;

	& fa-icon {
		margin-top: 10px;
		color: red;
		font-size: x-large;
	}
}
