<ui-form-row [numOfElements]="2">
	<div class="list-container">
		<div class="list-buttons left">
			<!-- <div class="list-label left">{{ textSvc.getText('dual_list_actions') }}</div> -->
			<fa-icon
				(click)="moveAllRight()"
				[icon]="iconSvc.getIconByKey('falAngleDoubleRight')"
				[matTooltip]="textSvc.getText('dual_list_move_all')"
				matTooltipPosition="below"
			></fa-icon>
			<fa-icon
				(click)="moveSelectedRight()"
				[icon]="iconSvc.getIconByKey('falAngleRight')"
				[matTooltip]="textSvc.getText('dual_list_move_selected')"
				matTooltipPosition="below"
			></fa-icon>
		</div>

		<ui-card *ngIf="showTitle" [headerText]="leftTitle">
			<ui-table [uiTableConfig]="leftTableConfig"></ui-table>
		</ui-card>
		<ui-table *ngIf="!showTitle" [uiTableConfig]="leftTableConfig"></ui-table>
	</div>
	<div class="list-container">
		<div class="list-buttons right">
			<fa-icon
				(click)="moveSelectedLeft()"
				[icon]="iconSvc.getIconByKey('falAngleLeft')"
				[matTooltip]="textSvc.getText('dual_list_move_selected')"
				matTooltipPosition="below"
			></fa-icon>
			<fa-icon
				(click)="moveAllLeft()"
				[icon]="iconSvc.getIconByKey('falAngleDoubleLeft')"
				[matTooltip]="textSvc.getText('dual_list_move_all')"
				matTooltipPosition="below"
			></fa-icon>
			<!-- <div class="list-label right">{{ textSvc.getText('dual_list_actions') }}</div> -->
		</div>
		<ui-card *ngIf="showTitle" [headerText]="rightTitle">
			<ng-container buttons>
				<ng-content select="[rightHeaderButtons]"></ng-content>
			</ng-container>
			<ui-table [uiTableConfig]="rightTableConfig"></ui-table>
		</ui-card>
		<ui-table *ngIf="!showTitle" [uiTableConfig]="rightTableConfig"></ui-table>
		<ng-content select="[rightBelowSection]"></ng-content>
	</div>
</ui-form-row>

<!-- <ui-form-row [numOfElements]="3" style="display: none">
	<ui-card [headerText]="leftTitle" cssClass="dual-card-table">
		<ui-table [uiTableConfig]="leftTableConfig"></ui-table>
	</ui-card>
	<ui-card [headerText]="actionsTitle" cssClass="dual-card-actions" cssClassContent="dual-card-actions-content">
		<ui-button
			*ngIf="showMoveAllRight"
			cssButtonClass="map-button"
			text="&gt;&gt;"
			[isVisible]="uiDualConfig.canMoveAllRight"
			(onClick)="moveAllRight()"
		>
		</ui-button>
		<ui-button
			cssButtonClass="map-button"
			text="&gt;"
			[isVisible]="uiDualConfig.canMoveRight"
			(onClick)="moveSelectedRight()"
		>
		</ui-button>
		<ui-button
			cssButtonClass="map-button"
			text="&lt;"
			[isVisible]="uiDualConfig.canMoveLeft"
			(onClick)="moveSelectedLeft()"
		>
		</ui-button>
		<ui-button
			*ngIf="showMoveAllLeft"
			cssButtonClass="map-button"
			text="&lt;&lt;"
			[isVisible]="uiDualConfig.canMoveAllLeft"
			(onClick)="moveAllLeft()"
		>
		</ui-button>
	</ui-card>
	<ui-card [headerText]="rightTitle" cssClass="dual-card-table">
		<ui-table [uiTableConfig]="rightTableConfig"></ui-table>
	</ui-card>
</ui-form-row> -->
