@import 'app-media';
@import 'app-colors';

.list-container {
	width: 49% !important;

	@include laptop {
		width: 100% !important;
	}

	& .list-buttons {
		display: flex;
		align-items: center;
		color: $_colorTextDark;

		&.left {
			justify-content: flex-end;
			> span {
				margin-right: 10px;
			}
		}
		&.right {
			justify-content: flex-start;
			> span {
				margin-left: 10px;
			}
		}
		& .list-label {
			&.left {
				margin-right: 10px;
			}
			&.right {
				margin-left: 10px;
			}
		}
		& fa-icon {
			font-size: 1.7em;
			cursor: pointer;

			&:hover {
				color: $_colorPrimary;
			}
			&:first-of-type {
				margin-right: 10px;
			}
		}
	}
}

.dual-card-table {
	width: 46% !important;

	@include laptop {
		width: 100% !important;
	}
}
.dual-card-actions {
	width: 10% !important;
	max-width: 87px;

	@include laptop {
		width: 300px !important;
		max-width: 100% !important;
	}
}
.dual-card-actions-content {
	display: flex;
	flex-flow: column;
	justify-content: center;

	& ui-button {
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	@include laptop {
		flex-flow: row;

		& ui-button {
			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}
